body {
    margin: 0px;
    font-family: "Josefin-Sans";
}


.header {
    position: relative; /* This makes the header's positioning relative to its normal position */
    z-index: 10; /* Higher value to make sure it appears above the banner */
    width: 90%;
    margin: auto;
    margin-top: 15px;
}

@media screen and (min-device-width: 1440px) {
    .header {
        width: 55%;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1439px) {
    .header {
        position: relative;
        z-index: 10;
        width: 75%;
        margin: auto;
        margin-top: 15px;
    }
}

.energy-maestro-header {
    background-color: #333;
}

.energy-title {
    color: #00ff74;
    text-align: center;
}

.energy-maestro-header {
    display: flex;
    flex-direction: column;
}

.empowering-title {
    display: flex;
    justify-content: space-around;
}

.empowering-section, .ev-structure-section, .energy-cost-section, .integrated-crm-section, .app-integration-section {
    padding: 30px 0px;
    width: 80%;
    margin: auto;
}

h1.energy-page-title {
    color: #28b83f;
    font-size: 32px;
}

h1.energy-page-title-center {
    color: #28b83f;
    text-align: center;
    font-size: 28px;
}

.ev-management-part, .energy-cost-part, .integrated-crm-part, .energy-integration-part {
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
}

p.content-align {
    text-align: center;
    letter-spacing: 0.05em;
    font-size: 18px;
    line-height: 24px;
}

h1.title {
    margin: 50px 0px;
}

.empower-content {
    padding: 50px 70px;
    width: 40%;
    align-content: center;
}

.ev-management-content, .energy-cost-content, .integrated-crm-content, .energy-integration-content {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #c1c1c140;
    border-radius: 20px;
    padding: 30px 70px;
    width: 40%;
}

.energy-maestro-page-title {
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #333;
}

button.clikable-button-energy-page {
    color: #fff;
    background: #333;
    border: 0px;
    font-size: 20px;
    font-family: josefin-sans;
    font-weight: 500;
    margin: 30px 0px;
    border-radius: 20px;
    padding: 10px 60px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

button.clikable-button-energy-page:hover {
    color: #23b54b;
}

.btnQuote-energy-page {
    text-align: center;
}

@media screen and (max-width: 425px) {
    .empowering-title, .ev-management-part {
        display: flex;
        flex-direction: column;
    }
    h1.title {
        font-size: 26px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .empower-content {
        padding: 30px 10px;
    }
    .ev-management-content, .energy-cost-content, .integrated-crm-content, .energy-integration-content {
        padding: 30px 20px;
        width: 50%;
    }
    .empowering-section, .ev-structure-section, .energy-cost-section, .integrated-crm-section, .app-integration-section {
        padding: 30px 0px;
        width: 90%;
        margin: auto;
    }
    h1.energy-page-title-center, h1.energy-page-title {
        font-size: 24px;
    }
    p.content-align {
        font-size: 16px;
    }
    .ev-management-part, .energy-cost-part, .integrated-crm-part, .energy-integration-part {
        gap: 30px;
    }
}

@media screen and (max-width: 1440px) {
    .ev-management-content, .energy-cost-content, .integrated-crm-content, .energy-integration-content {
        padding: 50px 70px;
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .empowering-title {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        gap: 50px;
    }
    .ev-management-part, .energy-cost-part, .integrated-crm-part, .energy-integration-part {
        display: flex;
        margin: auto;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }
    .empower-content {
        padding: 0px 0px;
        width: auto;
        align-content: center;
    }
    .ev-management-content, .energy-cost-content, .integrated-crm-content, .energy-integration-content {
        padding: 50px 30px;
        width: auto;
    }
    h1.energy-page-title-center, h1.energy-page-title {
        font-size: 24px;
    }
    img.vector-icon {
        width: 100%;
    }    
}

/* header css */

.topnav {
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #28b83f;
    box-shadow: 0 4px 10.2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 5.5px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: Josefin Sans;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.header {
    padding: 15px 5% 0px 5%;
    background-color: #333;
}

.dropdown .dropbtn {
    font-size: 20px;    
    border: none;
    outline: none;
    color: #333;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: auto;
    font-weight: 500;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;  
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    color: #28b83f;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

a.menu-align {
    padding: 15px;
}

a.btnContactUs {
    float: right;
    background: #28b83f;
    border-radius: 20px;
    color: #fff;
    margin: 10px;
    width: auto;
    padding: 5px 15px;
}

a.btnContactUs:hover {
    color: #333;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown-content {
    margin-top: 3px;
}

@media only screen and (max-width: 768px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav {
        align-items: normal;
        flex-direction: column;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .main-header-logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 768px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a {        
        font-size: 16px;
        font-weight: 600;
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        font-size: 16px;
        font-weight: 600;
        display: block;
        width: 100%;
        text-align: left;
    }
    a.btnContactUs {
        text-align: center !important;
    }
}

@media only screen and (min-width: 426px ) and (max-width: 768px) {
    .topnav a {
        font-size: 16px;
    }

    .dropdown .dropbtn {
        font-size: 16px;
    }
}

@media  only screen and (max-width: 768px) {
    .header {
        padding: 15px 3% 0px 3% !important;
    }

    a.logo {
        padding: unset !important;
    }

    .topnav {
        padding: 0px 0px 0px 10px;
    }
}

@media only screen and (min-width: 768px) {
    .dropdown {
        display: inline-block;
        font-family: josefin sans;
    }
}

@media  only screen and (max-width: 425px) {
    a.icon {
        margin-top: 3px;
    }

    .topnav {
        border-radius: 20px;
        flex-direction: column !important;
    }

    a.btnContactUs {
        border-radius: 10px;
        text-align: center !important;
    }

    .header {
        background-size: unset !important;
    }
}

.dropdown {
    display: inline-block;
    font-family: josefin sans;
}

.dropbtn {
    background-color: #fff;
    color: #000; 
    padding: 14px 16px; 
    font-size: 20px; 
    border: none; 
    cursor: pointer; 
}

.dropdown-content {
    display: none; 
    position: absolute; 
    background-color: white; 
    min-width: 180px; 
    z-index: 1; 
}

.dropdown-content a {
    color: black; 
    padding: 12px 16px; 
    text-align: left;
    text-decoration: none; 
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #28b83f;
    border-bottom: 1px solid #28b83f; 
}

.dropdown:hover .dropdown-content {
    display: block; 
}

.main-header-btntalk {
    float: right; 
}

@media only screen and (max-width: 768px) {
    .main-header-menu {
        gap: 0px;
    }

    .main-header-menu a {
        padding: 14px 10px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
    .main-header-logo {
        display: flex;
        justify-content: space-between;
    }
}

/* Footer css */

.column {
    float: left;
    padding: 25px 10px;
}

.column-wide {
    float: left;            
    letter-spacing: 1.7px;
    padding: 25px 10px 10px 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

li {
    list-style:none;
    padding-left: 3px;
    font-size: 18px;
}

a.design {
    text-decoration: none;
    color: #fff;
}

a.design:hover {
    color: #23b54b;
    border-bottom: 1px solid #23b54b;
}

.column-wide {
    background-color:#282828; 
    color: #fff; 
    padding-right: 50px;
}

.main-body-footer {
    margin: 0px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: Josefin-Sans;
    width: 95%;
    z-index: 1;
    margin: auto;
}

footer {
    background: #282828;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.25);
    color: #fff;
}

a.mail-link {
    text-decoration: none;
    color: white;
}

a.mail-link:hover {
    color: #28b83f;
}

.column-text-align {
    text-align: center; 
    font-size: 18px; 
    margin-bottom: 5px;
}

p.txt-align {
    font-size: 18px;
}

.column.quick-links li,.column.products-links li,.column.industries-links {
    line-height: 1.5;
}

.FooterContant {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

.footerlinks {
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
    font-weight: 700;
    width: 100%;
}

a.design {
    font-weight: 500;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
    .footerlinks {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1024px) {
    .column-wide{
        padding-right: 0 !important;
    }
}

@media only screen and (max-width: 600px) {
    .column {
        float: left;
        /* width: 100%; */
        padding: 10px;
        height: 200px;
    }

    .column-wide {
        float: left;
        /* width: 100%; */
        padding: 10px;
        height: 250px;
    }
}

@media only screen and (max-width: 768px) {
    .column-wide {
        padding-right: 0;
        margin: auto;
    }

    .footerlinks {
        flex-wrap: wrap;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 1023px) {
    .column-wide{
        width: unset !important;
    }
}

@media only screen and (max-width: 425px) {
    .column.quick-links {
        height: 150px;
    }

    .column.products-links {
        height: 170px;
    }

    .column-text-align {
        text-align: left;
    }

    .FooterContant  {
        flex-wrap: wrap; 
        justify-content: unset !important;
    }

    .column-wide {
        margin-top: 15px;
        border-top: 1px solid #444;
    }

    .column.industries-links {
        margin-bottom: 20px;
    }
}